body {
  background-color: black;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.navigation :first-child {
  position: fixed;
  margin-top: 60px;
  margin-left: 60px;
  font-size: 30px;
  color: red;
}
